/* GENERALES */

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #303030;
}

.logo {
    width: 15rem;
    height: 7em;
}

body { 
    font-family: 'Work Sans', sans-serif;
    background-color: #393939;
}

.titulogral{
    font-family: 'Raleway', sans-serif;
    color: #f9f9f9;
    font-weight: 300;
    font-size: 2.5em;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.barra {
    display: block;
    border: #303030 0.2em solid;
    width: 80%;
    height: 0em;
    margin-left: auto;
    margin-right: auto;
    background-color: #303030;
    margin-bottom: 2em;
    margin-top: 2em;
}

footer {
    background-color: #303030;
    height: 5rem;
}

/* INDEX */

.main1__h1 {
    color: #f9f9f9;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 1em;
}


.img-car {
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.texto-main {
    width: 65%;
    height: auto;
    color: #aaaaaa;
    text-align: justify;
}

.icono_ig {
    margin-top: 1em;
    margin-right: 1em;
    width: 2em;
    height: 2em;
    transition: margin 0.5s ease-out;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.icono_ig:hover {
    margin-top: 2px;
}

.icono_yt {
    margin-top: 1em;
    margin-right: 1em;
    width: 2.5em;
    height: 1.9em;
    transition: margin 0.5s ease-out;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.icono_yt:hover {
    margin-top: 2px;
}

.icono_wa {
    margin-top: 1em;
    margin-right: 1em;
    width: 2em;
    height: 2em;    
    transition: margin 0.5s ease-out;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.icono_wa:hover{
    margin-top: 2px;
}

.p-footer {
    color: #f9f9f9;
    font-size: 0.8rem;
}

/* INDEX - RESPONSIVE */

@media (max-width: 576px) {
    footer {
        height: auto;
    }
}

/* CURSOS */


.img_curso {
    height: 23rem;
    width: 18rem;
}

.size-curso {
    width: 20rem;
    height: auto;
}

.img_curso:hover {
    filter: blur(5px);
    transition: 3s; 
}

.titulo__cursos {
    color: #f9f9f9;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.info__cursos {
    text-align: center;
    font-size: 1em;
    color: #aaaaaa;
}

.infoextra__cursos {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 2em;
    color: #aaaaaa;
}

/* CURSOS - RESPONSIVE */


/* MAQUILLATE CONMIGO */

.maquillateinfo {
    color: #aaaaaa;
    text-align: justify;
}

.maquillate_h2 {
    color: #f9f9f9;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1em;
    font-weight: 300;
    line-height: 1.5;
}

.info_maquillate {
    line-height: 2;
    font-size: 1em;
    color: #aaaaaa;
}

.ul_maquillate {
    list-style-type: disc;
    line-height: 2;
    padding-left: 1.5em;
    margin: 1em 0 1em 0;
}

.boton_maquillate {
    width: 15rem;
    height: 3rem;
    background-color: #303030;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 1.5em;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    margin-left: 35%;
    margin-top: 1rem;
}

.p__botonmaquillate {
    text-decoration: none;
    color:#f9f9f9;
}

.boton_maquillate:hover {
    background-color: #f9f9f9;
    transition: 1s;
}

/* MAQUILLATE CONMIGO - RESPONSIVE */

@media (max-width: 576px) { 
    .maquillate_img {
        display:none;
    }

    .boton_maquillate {
        width: 15rem;
        height: 3rem;
        margin-left: 4rem;
        margin-top: 2.5rem;
    }
    
}

@media (max-width: 990px) { 
    .maquillate_img {
        display: none;
    }

    .boton_maquillate {
        width: 15rem;
        height: 3rem;
        margin-left: 30%;
        margin-top: 2.5rem;
    }
    
}

/* SOBRE MI */

.mainc-sobremi {
    margin-top: 2rem;
}

.main-sobremi {
    width: 53rem;
    height: auto;
    text-align: justify;
    color: #aaaaaa;
}

.img_sobremi1 {
    height: 31em;
    width: 23.5em;

}

.info_sobremi1 {
    margin: 3em 2.5em 2em 2em;
    text-align: justify;
    line-height: 2;
}

.h2_sobremi {
    color: #f9f9f9;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0.5em;
}

.info_sobremi2 {
    margin: 0.5em 2em 2em 2.5em;
    text-align: justify;
    line-height: 2;
}

/* SOBRE MI - RESPONSIVE */

@media (max-width: 576px) { 
    .img_sobremi1 {
        display: none;
    }

    .main-sobremi {
        text-align: center;
    }
}

@media (max-width: 990px) { 
    .img_sobremi1 {
        display: none;
    }
}

/* CONTACTO */

.contenedor__form {
    margin-bottom: 3rem;
    width: 100%;
    height: auto;
}

.form__label {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.form__input {
    display: block;
    border: #303030 0.03rem solid;
    width: 30rem;
    height: 3rem;
    border-radius: 1rem;
    margin-left: 0rem;
    align-items: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    background-color: rgb(216, 216, 216);
    padding: 0.3rem;
}

.form_input[type=text]:focus {
    border: 0.5rem solid #303030;
}

.form__textarea{
    width: 50rem;
    height: 10rem;
    border-radius: 1rem;
    border: #303030 0.03rem solid;
    background-color: rgb(216, 216, 216);
    padding: 0.5rem;
    font-family: 'Quicksand', sans-serif;
    resize: none;
    font-size: 1rem;
}

.form__boton {
    background-color: #303030;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    margin: 1rem 0.125rem;
    cursor: pointer;
    border-radius: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

.form__boton:hover {
    background-color: white;
    color: #303030;
    transition: 1s;
}


/* CONTACTO - RESPONSIVE */

@media (max-width: 576px) { 
    .form__label {
        text-align: center;
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    
    .form__input {
        width: 20rem;
        height: 3rem;
        font-size: 1rem;
        padding: 0.3rem;
    }

    .form__textarea{
        width: 5rem;
        height: 5rem;
    }

    .contenedor__form {
        align-items: center;
    }
}

@media (max-width: 768px) { 
    .form__textarea{
        width: 40rem;
    }
}


@media (max-width: 990px) { 
    .form__textarea{
        width: 40rem;
    }
}
