/* CONTACTO */

.contenedor--form{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;  /* ESTO GENERA QUE SE HAGA SCROLL HORIZONTAL, VER EL SELECTOR DE "MOTIVO DE CONSULTA" */
    .titulo-form {
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }
    .input-form {
        border: #303030 0.03rem solid;
        border-radius: 1rem;
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        background-color: rgb(216, 216, 216);
        padding: 0.3rem;
            &:focus {
                border: 0.2rem solid #303030;
            }
    }
    .form--boton {
        background-color: #303030;
        border: none;
        color: white;
        padding: 1rem 2rem;
        text-decoration: none;
        margin: 1rem 0.125rem;
        cursor: pointer;
        border-radius: 1rem;
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        &:hover {
            background-color: white;
            color: #303030;
            transition: 1s;
        }    
    }
}