/* GENERALES */
@import "variables";

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #303030;
    .logo {
        width: 15rem;
        height: 7rem;
    }
    .ul-li-a{
        &::after {
            content: "";
            display: block;
            height: 0.02rem;
            background-color: #393939;
            transform: scale(0,1);
            transform-origin: center;
            transition: transform .25s;
        }
        &:hover::after {
            transform: scale(1,1);
        }
    }
}


body { 
    font-family: 'Work Sans', sans-serif;
    background-color: #393939;  
}

.titulogral{
    font-family: 'Raleway', sans-serif;
    color: map-get($estilo, color);
    font-weight: 300;
    font-size: 2.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: map-get($estilo, margin);
}

.barra {
    display: block;
    border: #303030 0.2rem solid;
    width: 80%;
    height: 0rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #303030;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

footer {
    background-color: #2b2b2b;
    height: 5rem;
    .icono_ig {
        margin-top: 1rem;
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        transition: margin 0.5s ease-out;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -o-transition: margin 0.5s ease-out;
        &:hover {
            margin-top: 2px;
        }
    }
    .icono_yt {
        margin-top: 1rem;
        margin-right: 1rem;
        width: 2.5rem;
        height: 1.9rem;
        transition: margin 0.5s ease-out;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -o-transition: margin 0.5s ease-out;
        &:hover {
            margin-top: 2px;
        }    
    }
    .icono_wa {
        margin-top: 1rem;
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;    
        transition: margin 0.5s ease-out;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -o-transition: margin 0.5s ease-out;
        &:hover{
            margin-top: 2px;
        }
    }
    .p-footer {
        color: #f9f9f9;
        font-size: 0.8rem;
    }
}