/* MEDIA QUERIES */

/* INDEX - RESPONSIVE */

@media (max-width: 576px) {
    footer {
        height: auto;
    }

    .main1__h1 {
        font-size: 1em;
    }

    .main_index {
        margin: auto;
        text-align: justify;
    }

    .p-main {
        width: 100%;
        height: auto;
        padding: 0;
        margin-left: 0!important;
    }
}

/* CURSOS - RESPONSIVE */

@media (max-width: 576px) {
    .titulo_cursos {
        font-size: 1.8em;
    }
}

/* MAQUILLATE CONMIGO - RESPONSIVE */

@media (max-width: 576px) { 
    .maquillate_img {
        display:none;
    }

    .boton_maquillate {
        margin: 0.7rem;
    }
}

@media (max-width: 990px) { 
    .maquillate_img {
        display: none;
    }

    .boton_maquillate {
        width: 15rem;
        height: 3rem;
        margin-top: 2.5rem;
    }
    
}

/* SOBRE MI - RESPONSIVE */

@media (max-width: 576px) { 
    .img_sobremi1 {
        display: none;
    }

    .img_sobremi2 {
        display: none;
    }

    .main-sobremi {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }

    .main-sobremi2 {
        margin-right: 1em;
    }

    .h2_sobremi {
        text-align: start;
    }
}

@media (max-width: 990px) { 
    .img_sobremi1 {
        display: none;
    }

    .img_sobremi2 {
        display: none;
    }
}


