/* SOBRE MI */

.mainc-sobremi {
    margin-top: 2rem;
    margin-bottom: 2rem;
    .main-sobremi {
        width: 53rem;
        height: auto;
        text-align: justify;
        color: #aaaaaa;
        margin-left: 1em;
        margin-right: 1em;
    }
    
    .h2_sobremi {
        color: #f9f9f9;
        font-size: 2em;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 0.5em;
    }
    
}

