/* VARIABLES */

/* MIXIN */

@mixin sizes ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.img_sobremi1 {
    @include sizes (25rem, 30rem)
}

.img_sobremi2 {
    @include sizes (27rem, 30rem)
}

/* EXTEND */

.boton_maquillate {
    @extend .form--boton;
    width: 15rem;
    height: 3rem;
    border-radius: 1.5em;
    margin-top: 1rem;
    padding: 0;
}

/* MAPS */

$fondo: (
    navegador: #303030,
    cuerpo: #393939,
    pie: #2b2b2b
);

@each $col, $fondo in $fondo {
    .backcolor--#{$col} {
        background-color: $fondo;
    }
}

/* MAP GET */

$estilo: (
    tamaño: 2rem,
    color: #f9f9f9,
    margin: 1rem
);
